body {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page_link>ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-decoration: none;
  color: rgb(34 197 94);
}

.tempStatus {
  padding-left: 30px;
}

.page_link>ul a {
  text-decoration: none;
  color: black;
}

.page_link>ul a {
  padding: 20px;
  font-weight: 400;
  font-size: xx-large;
  border-radius: 8px;

}

.page_link>ul a:hover {
  background-color: yellow;
  color: black;
}

.active {
  background-color: yellow;
  text-decoration: none;
}

.pending {
  background-color: wheat;
  text-decoration: none;
}

.page_link>ul li {
  padding: 10px;
}

.header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: wheat;
}

.body {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  width: 30%;
  text-align: center;
}

.p-8 {
  padding: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.AppContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tempCard {
  justify-content: center;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.weatherIcon {
  width: 100px;
  height: 100px;
}

.temperatureData {
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text {
  padding: 2px 3px;
}





.branding {
  padding: 10px;

}